absl-py==0.1.13
altgraph==0.15
astor==0.6.2
bleach==3.1.4
certifi==2018.1.18
chardet==3.0.4
colorama==0.3.9
future==0.16.0
gast==0.2.0
grpcio==1.10.0
h5py==2.7.1
html5lib==0.9999999
httplib2==0.10.3
idna==2.6
imutils==0.4.5
Keras==2.1.4
macholib==1.9
Markdown==2.6.11
numpy==1.14.2
opencv-python==3.4.0.12
pefile==2017.11.5
protobuf==3.5.2.post1
PyInstaller==3.3.1
pypiwin32==223
pywin32==223
PyYAML==3.12
requests==2.18.4
scipy==1.0.0
six==1.11.0
tensorboard==1.7.0
tensorflow==1.7.0
termcolor==1.1.0
urllib3==1.22
Werkzeug==0.14.1
